// component css goes here
// component css goes here
.buton-container{
    justify-content: end;
      display: flex;
      margin-bottom: 22px;
}
.full-width-form mat-form-field {
    width: 100%;
}
