<ng-container *ngIf="field">
  <mat-form-field [formGroup]="formVal" appearance="outline" class="custom-input">
    <mat-label>{{ field.label }}</mat-label>
    <input 
      matInput 
      [matDatepicker]="picker" 
      [formControlName]="field.attributes.formControlName"
      placeholder="MM/DD/YYYY"
      [disabled]="field.attributes.disabled"
      [readOnly]="field.attributes.readOnly"
      (keypress)="allowOnlyNumbers($event)"
      (input)="formatInput($event)"
      maxlength="10"
    />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    
    <!-- Display validation errors -->
    <mat-error *ngIf="formVal.get(field.attributes.formControlName)?.hasError('required')">
      {{ field.validationMessages.required }}
    </mat-error>
  </mat-form-field>
</ng-container>
