<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="/stc/dashboard" class="b-brand">
        <h3 class="mb-0"><img src="assets/images/logo-icon.svg" alt="theme-logo" class="logo logo-dark logo-lg" />
          <span class="px-2 f-w-500" style="font-size: 28px;">STC</span>
        </h3>
      </a>
    </div>
    <!-- <div class="px-3 organisation-item">
      <label class="mb-2">Organization</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)='onOrgSelected($event)' [value]="organizationCode" [disabled]="disableOrg">
        @for (orgItem of orgList; track orgItem) {
          <option [value]="orgItem.code" [selected]="organizationCode === orgItem.code ? true : false">{{orgItem.name}}</option>
        }
      </select>
    </div> -->
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
  </div>
</nav>
